.picture_top {
  display: flex;
}
.picture_bottom {
  display: flex;
}
.picture_inDiary {
  display: flex;
}

.img:hover {
  max-width: 220px;
  transform: rotate(0);
  z-index: 10;
}

#img1 {
  top: 50px;
  left: 200px;
  transform: rotate(-15deg);
}

#img2 {
  top: 50px;
  left: 200px;
  transform: rotate(15deg);
}
#img3 {
  top: 50px;
  left: 200px;
  transform: rotate(-35deg);
}
#img4 {
  top: 50px;
  left: 200px;
  transform: rotate(15deg);
}
#img5 {
  top: 50px;
  left: 200px;
  transform: rotate(-5deg);
}
#img6 {
  top: 300px;
  left: 200px;
  transform: rotate(10deg);
}
#img_inDiary1 {
  top: 300px;
  left: 200px;
  transform: rotate(-15deg);
}
#img_inDiary2 {
  top: 300px;
  left: 200px;
  transform: rotate(5deg);
}
#img_inDiary3 {
  top: 300px;
  left: 200px;
  transform: rotate(-15deg);
}
#img10 {
  top: 300px;
  left: 200px;
  transform: rotate(10deg);
}

/* #text{
    margin-top: 22%;
    margin-left: 30%;
} */

#img11 {
  top: 50px;
  left: 230px;
  transform: rotate(-15deg);
}
#img12 {
  top: 50px;
  left: 250px;
  transform: rotate(5deg);
}
#img13 {
  top: 50px;
  left: 280px;
  transform: rotate(-10deg);
}
#img14 {
  top: 50px;
  left: 300px;
  transform: rotate(-35deg);
}
#img15 {
  top: 300px;
  left: 300px;
  transform: rotate(10deg);
}
#img16 {
  top: 300px;
  left: 380px;
  transform: rotate(-15deg);
}
#img17 {
  top: 300px;
  left: 450px;
  transform: rotate(-5deg);
}
#img18 {
  top: 50px;
  left: 230px;
  transform: rotate(-15deg);
}
#img19 {
  top: 50px;
  left: 270px;
  transform: rotate(10deg);
}
#img20 {
  top: 50px;
  left: 320px;
  transform: rotate(-5deg);
}
#img21 {
  top: 300px;
  left: 450px;
  transform: rotate(5deg);
}
#img22 {
  top: 300px;
  left: 530px;
  transform: rotate(5deg);
}
#img23 {
  top: 300px;
  left: 550px;
  transform: rotate(-15deg);
}

#diary {
  position: fixed;
  left: 10%;
  z-index: -10;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/* my code */

.centerClass {
  position: absolute;
  left: 50%;
  top: 50%;
}
.pageBg {
  background-color: #ffffff;
  width: 652px;
  height: 422px;
  border-radius: 0px;
}
.spineCenter {
  width: 2px;
  height: 422px;
  border-radius: 0px;
  background: rgba(101, 101, 101, 0.4);
}
.pageWrapper {
  position: relative;
  width: 325px;
  height: 422px;
  float: left;
  -webkit-font-smoothing: antialiased;
}
.pageFace {
  position: absolute;
  width: 325px;
  height: 422px;
  overflow: hidden;
  text-align: center;
}
.front {
  background: linear-gradient(
    to right,
    #d9d9d9 0%,
    #f9f9f9 3%,
    #ffffff 8%,
    #ffffff 100%
  );
}
.back {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 92%,
    #f9f9f9 97%,
    #d9d9d9 100%
  );
}
.pageFoldRight {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-left-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  box-shadow: -5px 5px 10px #dddddd;
}
.pageFoldLeft {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-right-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  box-shadow: 5px 5px 10px #dddddd;
}
