html {
  overflow: hidden;
}

html,
body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
}

/* #book {
  width: 800px;
  height: 200px;
  margin: 50px;
}

#pageSection {
  position: fixed;
  width: 500px;
  height: 600px;
  margin-left: 695px;
  perspective: 1000px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 32px;
  background-color: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), -2px 0 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

#page1 {
  z-index: 1;
  transform-origin: left center;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

#page1:hover {
  transform: rotateY(-180deg);
  opacity: 0.4;
}

#page2 {
  z-index: 0;
} */

.div_diary {
  padding: 30px;
}
.picture {
  padding: 50px;
}

.picture_top {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.picture_bottom {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
}
.picture_inDiary {
  display: flex;
  align-items: center;
}

/* 이미지 hover effect */
.pic:hover .img {
  transform: scale(1.4) rotate(0deg) !important;
  z-index: 10;
  filter: none;
  transition: all 0.5s;
}
.pic:hover {
  filter: none;
  transform: scale(1);
}
/* .img:hover {
  transform: scale(1.3, 1.3) rotate(0deg) !important;
  z-index: 10;
  filter: none;
  transition: all 0.35s;
} */
.picture:hover .pic {
  filter: grayscale(100%);
}
.picture .pic:hover {
  filter: none;
}

.pic {
  align-self: center;
  flex-basis: auto;
}
.img {
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.topic {
  font-family: "Jua", serif;
  font-size: 30px;
}
span.highlight {
  color: lightgreen;
}

/* 사진 배치 */
.picture_top .pic:nth-of-type(5n + 1) > img {
  top: 10%;
  transform: rotate(-15deg);
}
.picture_top .pic:nth-of-type(5n + 2) > img {
  top: 10%;
  transform: rotate(5deg);
}
.picture_top .pic:nth-of-type(5n + 3) > img {
  top: 10%;
  transform: rotate(-25deg);
}
.picture_top .pic:nth-of-type(5n + 4) > img {
  top: 10%;
  transform: rotate(15deg);
}
.picture_top .pic:nth-of-type(5n + 5) > img {
  top: 10%;
  transform: rotate(-5deg);
}
.picture_bottom .pic:nth-of-type(5n + 1) > img {
  top: 10%;
  transform: rotate(10deg);
}
.picture_bottom .pic:nth-of-type(5n + 2) > img {
  top: 10%;
  transform: rotate(-15deg);
}
.picture_bottom .pic:nth-of-type(5n + 3) > img {
  top: 10%;
  transform: rotate(5deg);
}
.picture_bottom .pic:nth-of-type(5n + 4) > img {
  top: 10%;
  transform: rotate(-15deg);
}
.picture_bottom .pic:nth-of-type(5n + 5) > img {
  top: 10%;
  transform: rotate(15deg);
}

/* #text{
    margin-top: 22%;
    margin-left: 30%;
} */

/* #diary {
  position: fixed;
  left: 10%;
  z-index: -10;
  max-width: 80%;
  display: block;
  margin: 0 auto;
} */

.centerClass {
  position: absolute;
  left: 50%;
  top: 50%;
}
.pageBg {
  background-color: #ffffff;
  width: 652px;
  height: 422px;
  border-radius: 0px;
}
.spineCenter {
  width: 2px;
  height: 422px;
  border-radius: 0px;
  background: rgba(101, 101, 101, 0.4);
}
.pageWrapper {
  position: relative;
  width: 325px;
  height: 422px;
  float: left;
  -webkit-font-smoothing: antialiased;
}
.pageFace {
  position: absolute;
  width: 325px;
  height: 422px;
  overflow: hidden;
  text-align: center;
}
.front {
  background: linear-gradient(
    to right,
    #d9d9d9 0%,
    #f9f9f9 3%,
    #ffffff 8%,
    #ffffff 100%
  );
}
.back {
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 92%,
    #f9f9f9 97%,
    #d9d9d9 100%
  );
}
.pageFoldRight {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  border-left-width: 1px;
  border-left-color: #dddddd;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  box-shadow: -5px 5px 10px #dddddd;
}
.pageFoldLeft {
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  border-right-width: 1px;
  border-right-color: #dddddd;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  border-bottom-style: solid;
  box-shadow: 5px 5px 10px #dddddd;
}
