@import url("https://webfontworld.github.io/Montserrat/Montserrat.css");
@import url("https://webfontworld.github.io/score/SCoreDream.css");
@import url("https://webfontworld.github.io/tvn/EnjoyStories.css");

/* .section {
  width: 100vw;
  height: 100vh;
  position: relative;
} */

/* 폰트 설정*/
:root {
  --font-size-tlg: 28px;
  --font-size-vlg: 24px;
  --font-size-lg: 20px;
  --font-size-slg: 15px;
  --font-size-md: 10px;
  --font-size-sm: 4px;
  --font-size-vsm: 4px;

  --max-width: 95px;
  --max-icon: 40px;
}
@media (min-width: 800px) {
  :root {
    --font-size-tlg: 28px;
    --font-size-vlg: 26px;
    --font-size-lg: 20px;
    --font-size-slg: 16.5px;
    --font-size-md: 11.5px;
    --font-size-sm: 6px;
    --font-size-vsm: 3px;

    --max-width: 90px;
    --max-icon: 45px;
  }
}
@media (min-width: 870px) {
  :root {
    --font-size-tlg: 32px;
    --font-size-vlg: 29px;
    --font-size-lg: 23px;
    --font-size-slg: 18px;
    --font-size-md: 13px;
    --font-size-sm: 9px;
    --font-size-vsm: 6px;

    --max-width: 110px;
    --max-icon: 50px;
  }
}
@media (min-width: 950px) {
  :root {
    --font-size-tlg: 41px;
    --font-size-vlg: 32px;
    --font-size-lg: 24px;
    --font-size-slg: 19px;
    --font-size-md: 14px;
    --font-size-sm: 10px;
    --font-size-vsm: 7px;

    --max-width: 120px;
    --max-icon: 55px;
  }
}
@media (min-width: 1040px) {
  :root {
    --font-size-tlg: 47px;
    --font-size-vlg: 37px;
    --font-size-lg: 27px;
    --font-size-slg: 23px;
    --font-size-md: 17px;
    --font-size-sm: 12px;
    --font-size-vsm: 10px;

    --max-width: 135px;
    --max-icon: 65px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size-tlg: 55px;
    --font-size-vlg: 44px;
    --font-size-lg: 33px;
    --font-size-slg: 28px;
    --font-size-md: 18px;
    --font-size-sm: 13.5px;
    --font-size-vsm: 11px;

    --max-width: 150px;
    --max-icon: 70px;
  }
}
@media (min-width: 1350px) {
  :root {
    --font-size-tlg: 66px;
    --font-size-vlg: 51px;
    --font-size-lg: 39px;
    --font-size-slg: 34px;
    --font-size-md: 24px;
    --font-size-sm: 15px;
    --font-size-vsm: 13px;

    --max-width: 165px;
    --max-icon: 75px;
  }
}
@media (min-width: 1450px) {
  :root {
    --max-width: 177px;
    --max-icon: 80px;
  }
}
@media (min-width: 1500px) {
  :root {
    --font-size-tlg: 70px;
    --font-size-vlg: 56.5px;
    --font-size-lg: 41.5px;
    --font-size-slg: 36.5px;
    --font-size-md: 26.5px;
    --font-size-sm: 16.5px;
    --font-size-vsm: 14.5px;

    --max-width: 185px;
    --max-icon: 85px;
  }
}

@media (min-width: 1620px) {
  :root {
    --font-size-tlg: 73px;
    --font-size-vlg: 60px;
    --font-size-lg: 46px;
    --font-size-slg: 41px;
    --font-size-md: 31px;
    --font-size-sm: 18px;
    --font-size-vsm: 16px;

    --max-width: 200px;
    --max-icon: 90px;
  }
}

@media (min-width: 1770px) {
  :root {
    --font-size-tlg: 75px;
    --font-size-vlg: 62px;
    --font-size-lg: 50px;
    --font-size-slg: 45px;
    --font-size-md: 35px;
    --font-size-sm: 20px;
    --font-size-vsm: 18px;

    --max-width: 220px;
    --max-icon: 100px;
  }
}
html {
  /* 최소 창 크기 */
  min-width: 800px;
}

html,
body {
  /* height: 100vh; */
  margin: 0px;
  padding: 0px;
  display: block;
  /* max-width: 100%; */
  height: 100vh;
  /* overflow: hidden; */
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  /* padding: 3%; */
  /* padding-top: 5%; */
  width: 100%;
  box-sizing: border-box;
  /* margin-left: 2%; */
}

.aspect {
  /* padding-bottom: 37%; */
  padding-bottom: 50%;
  position: relative;
  width: 100%;
}

.aspect-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  /* top: 0; */
  top: 22px;
  padding-top: 5%;
  padding-left: 2%;
}

.flipbook {
  height: 100%;
  transition: margin-left 0.25s ease-out;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flipbook .page {
  height: 100%;
  width: 100%;
  background: white;
}

#cover {
  max-width: 100%;
  height: 100%;
}

.div_diary {
  /* max-width: 100%; */
  /* max-height: 100%; */
  height: 100%;
  padding: 10px;
  /* box-sizing: border-box; */
}

.pg_num {
  font-size: var(--font-size-vsm);
  position: absolute;
  bottom: 7px;
  left: 50%;
}

/* .highlight_textbox span {
  position: relative;
  display: inline-block;
  animation: bounce 0.5s ease infinite alternate;
  font-family: "KotraHope";
  font-size: 2rem;
  font-weight: 200;
  -webkit-text-stroke: 1px rgba(0, 80, 20, 0.762);
  color: rgb(182, 218, 131);
  text-shadow: 0 1px 0 rgba(0, 80, 20, 0.762), 0 2px 0 rgba(0, 80, 20, 0.762),
    0 3px 0 rgba(0, 80, 20, 0.762), 0 4px 0 rgba(0, 80, 20, 0.762),
    0 5px 0 rgba(0, 80, 20, 0.762), 0 6px 0 transparent, 0 7px 0 transparent,
    0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 80, 20, 0.762);
} */

.highlight_textbox span:nth-child(2) {
  animation-delay: 0.1s;
}
.highlight_textbox span:nth-child(3) {
  animation-delay: 0.2s;
}
.highlight_textbox span:nth-child(4) {
  animation-delay: 0.3s;
}
.highlight_textbox span:nth-child(5) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 rgba(0, 80, 20, 0.762), 0 2px 0 rgba(0, 80, 20, 0.762),
      0 3px 0 rgba(0, 80, 20, 0.762), 0 4px 0 rgba(0, 80, 20, 0.762),
      0 5px 0 rgba(0, 80, 20, 0.762), 0 6px 0 transparent, 0 7px 0 transparent,
      0 8px 0 transparent, 0 9px 0 transparent,
      0 10px 10px rgba(0, 80, 20, 0.762);
  }
}

.picture {
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  /* height: 100%; */
  max-height: 648px;
}

.hover-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* margin-top: 20%; */
}

.next {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -5%;
  float: right;
  margin-right: 2%;
}

.picture_top_left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  top: 10%;
  padding-top: 7%;
}
.picture_top_right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  top: 14%;
  padding-top: 16%;
}
.picture_bottom_left {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 80px;
  top: 10%;
}
.picture_bottom_right {
  display: flex;
  flex-wrap: nowrap;
  top: 14%;
}
.picture_inDiary {
  display: flex;
  align-items: center;
}

/* 이미지 hover effect */
.pic:hover .img {
  transform: scale(1.4) rotate(0deg) !important;
  z-index: 20;
  filter: none;
  transition: all 0.5s;
}
.pic:hover {
  filter: none;
  z-index: 20;
  transform: scale(1);
}

.picture .pic {
  filter: grayscale(100%);
}
.picture .pic:hover {
  filter: none;
}
.pic {
  align-self: center;
  flex-basis: auto;
}
.pic img {
  /* max-width: var(--max-width); */
  width: 167px;
}

/* 사진 배치 */
.picture_top .pic:nth-of-type(5n + 1) > img {
  top: 10%;
  left: 25%;
  transform: rotate(-15deg);
}
.picture_top .pic:nth-of-type(5n + 2) > img {
  top: 10%;
  left: 25%;
  transform: rotate(5deg);
}
.picture_top .pic:nth-of-type(5n + 3) > img {
  top: 10%;
  left: 55%;
  transform: rotate(-25deg);
}
.picture_top .pic:nth-of-type(5n + 4) > img {
  top: 10%;
  left: 20%;
  transform: rotate(15deg);
}
.picture_top .pic:nth-of-type(5n + 5) > img {
  top: 10%;
  left: -10%;
  transform: rotate(-5deg);
}
.picture_bottom .pic:nth-of-type(5n + 1) > img {
  margin-top: 20%;
  left: 10%;
  transform: rotate(10deg);
  margin-left: 15%;
}
.picture_bottom .pic:nth-of-type(5n + 2) > img {
  top: 0%;
  left: -20%;
  transform: rotate(-15deg);
  margin-left: 15%;
}
.picture_bottom .pic:nth-of-type(5n + 3) > img {
  margin-top: 20%;
  left: -50%;
  transform: rotate(5deg);
  margin-left: 15%;
}
.picture_bottom .pic:nth-of-type(5n + 4) > img {
  top: 10%;
  left: -30%;
  transform: rotate(-10deg);
}
.picture_bottom .pic:nth-of-type(5n + 5) > img {
  top: 10%;
  left: -30%;
  transform: rotate(5deg);
}

#road_img {
  /* width: 80%; */
  margin-left: 5px;
  /* float: left; */
  width: 100%;
  height: auto;
}

#road_title {
  float: left;
  font-size: var(--font-size-vlg);
  margin-top: 5%;
  margin-left: 15%;
}
#road_content_top {
  /* width: 90%; */
  float: left;
  font-family: "SCoreDream";
  font-size: var(--font-size-sm);
  font-weight: 400;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 10px;
  transform: scale(0.9);
  color: rgb(14, 14, 14);
}
#road_content_bottom {
  /* width: 90%; */
  float: left;
  font-family: "SCoreDream";
  font-size: var(--font-size-sm);
  font-weight: 400;
  margin-left: 2%;
  margin-bottom: 10px;
  /* margin-top: -20px; */
  transform: scale(0.9);
  color: rgb(0, 42, 86);
  color: rgb(14, 14, 14);
}

.topic {
  font-family: "EnjoyStories";
  font-size: var(--font-size-vlg);
  font-weight: 700;
  /* margin-left: 12%; */
  /* margin-bottom: 10px; */
  /* padding-right: 40px; */
  transform: scale(0.9);
  color: rgb(74, 74, 74);
  /* -webkit-text-stroke: 1px rgb(0, 42, 86); */
  display: inline-block;
}
span.highlight {
  color: rgb(144, 180, 167);
  animation: highlight 0.5s infinite;
}
span.keyword {
  color: rgb(0, 22, 60);
  animation: keyword 1s infinite;
}
span.highlight_2 {
  font-weight: 500;
  background-color: rgb(227, 240, 236);
}

/* @keyframes highlight {
  0% {
    color: rgb(255, 174, 0);
  }
  30% {
    color: rgb(255, 238, 0);
  }
  70% {
    color: rgb(255, 183, 0);
  }
  100% {
    color: rgb(255, 238, 0);
  }
}
@keyframes keyword {
  25% {
    color: rgb(128, 194, 255);
  }
  50% {
    color: rgb(36, 149, 255);
  }
  75% {
    color: rgb(0, 110, 255);
  }
  100% {
    color: rgb(36, 149, 255);
  }
} */

/*설명 부분*/
.hover-info{
  font-size: var(--font-size-vsm);
  margin-top: 3vh;
  color: rgb(47, 0, 255);
}
.title {
  font-family: "EnjoyStories";
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: rgb(72, 72, 72);
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  margin-top: 3%;
  margin-left: 5%;
}
.title_span {
  color: rgb(144, 180, 167);
}
.description {
  font-family: "SCoreDream";
  font-weight: 400;
  /* position: absolute; */

  /* left: 51%; */
  margin-top: 3%;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 1.5;
  color: #000000;
  /* width: 35%; */
}

.description_text {
  margin-top: 3%;
  font-size: var(--font-size-sm);
}
span.bold {
  font-weight: 600;
}
span.high_light {
  font-weight: 500;
  background-color: rgb(255, 255, 161);
}
.paragraph {
  border-radius: 5px;
  padding: 2%;
  margin-top: 0;
  margin-bottom: 0;
  /* background-color: rgb(217, 217, 217); */
}

.key_img > img {
  margin-left: 6%;
  width: 90%;
  float: left;
  /* margin-top: 13%; */
  transform: rotate(-5deg);
}

/*출처 부분*/
.src_title {
  font-family: "EnjoyStories";
  font-weight: 700;
  font-size: var(--font-size-lg);
  margin-top: 6%;
  margin-left: 9%;
}
.src_content {
  font-family: "Montserrat";
  font-size: var(--font-size-vsm);
  margin-left: 3%;
  margin-top: 5%;
  width: 80%;
}
#share_text {
  font-family: "EnjoyStories";
  font-size: var(--font-size-vlg);
  font-weight: 700;
  margin-left: 0%;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 5%;
  color: rgb(0, 50, 76);
  /* -webkit-text-stroke: 1px rgb(0, 42, 86); */
  display: inline-block;
  text-align: center;
}

#share {
  text-align: center;
  /* padding-left: 5%; */
}
#btn_share {
  text-align: center;
  margin-top: 15%;
}

.icon {
  max-width: var(--max-icon);
}

#flipbook {
  top: 0%;
  position: absolute;
  left: 10%;
  z-index: 0;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

#img31,
#img32,
#img33,
#img34,
#img35 {
  width: 50%;
  /* z-index: 10; */
}
#img31 {
  transform: rotate(-15deg);
}
#img32 {
  transform: rotate(5deg);
  float: right;
}
#img33 {
  transform: rotate(-10deg);
}
#img34 {
  transform: rotate(-15deg);
}
#img35 {
  transform: rotate(5deg);
  float: right;
}
.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15%;
  width: 100%;
}

#member4 {
  margin: -97px;
}

#end {
  width: 80%;
  margin-left: 10%;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
#title_end {
  font-family: "EnjoyStories";
  font-size: var(--font-size-slg);
  font-weight: 700;
  color: rgb(72, 72, 72);
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  margin-top: 3%;
  margin-left: 5%;
}

#text_end > .description_text {
  font-family: "SCoreDream";
  font-size: var(--font-size-sm);
  border-radius: 5px;
  /* padding: 2%; */
  margin: 1%;
  margin-top: 5%;
  margin-bottom: 0;
  line-height: 1.5;
  /* background-color: rgb(210, 233, 224); */
}
.large {
  font-family: "EnjoyStories";
  font-size: var(--font-size-slg);
  font-weight: 700;
}

#ending {
  border-radius: 5px;
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(227, 240, 236);
  line-height: 2;
}
/* .page-wrapper div {
  width: 100%;
  height: 100%;
} */

.title_members {
  position: absolute;
  z-index: 10;
  font-family: "EnjoyStories";
  font-size: var(--font-size-tlg);
  font-weight: 700;
  color: rgb(255, 255, 255);
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
  margin-top: 2%;
  margin-left: 5%;
  -webkit-text-stroke: 1px rgb(57, 72, 67);
  text-shadow: 0 1px 0 rgba(64, 64, 64, 0.762), 0 2px 0 rgba(64, 64, 64, 0.762),
    0 3px 0 rgba(64, 64, 64, 0.762), 0 4px 0 rgba(64, 64, 64, 0.762),
    0 5px 0 rgba(64, 64, 64, 0.762), 0 6px 0 transparent, 0 7px 0 transparent,
    0 8px 0 transparent, 0 9px 0 transparent,
    0 10px 10px rgba(64, 64, 64, 0.762);
}
#member_img {
  position: relative;
  width: 70%;
  /* margin-top: 30%; */
  /* margin-left: 20%; */
  padding-top: 5%;
  padding-bottom: 5%;
  /* padding: 0; */
}